//# SVG variables
//
//* CSS pseudo icons

$i-play: (
  color: $black,
  path: 'm2.00000363 0c.41589634.00006293.82142803.12977848 1.16406229.37109377l39.61327798 21.78515423c.7413063.3127114 1.2230571 1.0391856 1.2226558 1.8437498-.0009025.7816895-.4571321 1.4912108-1.1679678 1.8164058l-39.67187218 21.808592c-.33826233.2427037-.74383282.3737972-1.16015609.375-1.1045694 0-1.99999982-.8954305-1.99999982-2.0078118v-21.992186c-.00000339-14.66492924-.00000339-21.9982619 0-21.99999798 0-1.1045694.89543042-1.99999982 1.99999982-1.99999982zm36.99999637 23.9148936-36-19.9148936v39.8297872z',
  width: 44px,
  height: 48px
);

$i-pause: (
  color: $black,
  path: 'm2 0h7c1.1045695 0 2 .8954305 2 2v26c0 1.1045695-.8954305 2-2 2h-7c-1.1045695 0-2-.8954305-2-2v-26c0-1.1045695.8954305-2 2-2zm1 3v24h5v-24zm16-3h7c1.1045695 0 2 .8954305 2 2v26c0 1.1045695-.8954305 2-2 2h-7c-1.1045695 0-2-.8954305-2-2v-26c0-1.1045695.8954305-2 2-2zm1 3v24h5v-24z',
  width: 28px,
  height: 30px
);
