<!DOCTYPE html>
<html{#  lang="{{ App[0].lang }}" #}>
    <head>
        {% include '../_includes/app/_head.twig' %}
    </head>

    <body>
        {# {% include '../app/banner.twig' %} #}

        {% block main %}{% endblock %}

        {# {% include '../app/footer.twig' %} #}

        {# {% include '../app/js.twig' %} #}
    </body>
</html>
