<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{{ PAGE.title }}</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{# Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="favs/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favs/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favs/favicon-16x16.png">
<link rel="manifest" href="favs/site.webmanifest">
<link rel="mask-icon" href="favs/safari-pinned-tab.svg" color="#0000fe">
<link rel="shortcut icon" href="favs/favicon.ico">
<meta name="msapplication-TileColor" content="#0000fe">
<meta name="msapplication-config" content="favs/browserconfig.xml">
<meta name="theme-color" content="#0000fe">

{% if isPub %}
    <link rel="stylesheet" href="css/bs.min.css">
    <link rel="stylesheet" href="css/app.min.css">
{% else %}
    <link rel="stylesheet" href="css/bs.css">
    <link rel="stylesheet" href="css/app.css">
{% endif %}

<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
