{% extends '../templates/base.twig' %}

{% set PID = '02' %}{% set PAGE = '' %}{% for data in pages %}{% if data.id == PID %}{% set PAGE = data %}{% endif %}{% endfor %}

{% block main %}
    <main>
        {% include '../_misc/_postcard.twig' %}
    </main>
{% endblock %}
